<div style="background: #3092cd;
color: white;
text-align: center;">
    <h1 style="padding: 12px; background-color: #3092cd; text-align: center; color: aliceblue;">Chi tiết trình độ học vấn</h1>
    <button mat-icon-button (click)="closeModal()"
    style="position: absolute; top: 4px; right: 12px; background: none; border: none; color: white;">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content style="border-top: none;" class="content">
    <div class="row">
        <div class="column">
            <div class="detail-row">
                <div class="title">Nhân viên:</div>
                <div class="value">{{data.TenNhanVien}}</div>
            </div>
            <div class="detail-row">
                <div class="title">Văn bằng chứng chỉ:</div>
                <div class="value">{{ data.VanBangChungChi }}</div>
            </div>
            <div class="detail-row">
                <div class="title">Loại chứng chỉ:</div>
                <div class="value">{{ data.CoSoDaoTao }}</div>
            </div>
            <div class="detail-row">
                <div class="title">Lĩnh vực chứng chỉ:</div>
                <div class="value">{{ data.LinhVucChungChi }}</div>
            </div>
            <div class="detail-row">
                <div class="title">Chứng chỉ quốc tế:</div>
                <div class="value">
                    <input type="checkbox" disabled [checked]="data.ChungChiQuocTe" />
                </div>
            </div>

            <div class="detail-row">
                <div class="title">Mức chứng chỉ:</div>
                <div class="value">{{ data.MucChungChi }}</div>
            </div>

            <div class="detail-row">
                <div class="title">File đính kèm:</div>
                <div class="value">
                    <a [href]="data.FileDinhKem" target="_blank" style="text-decoration: none; color: blue">{{
                        data.FileDinhKem
                        }}</a>
                </div>
            </div>


        </div>
        <span style="border: 0.5px solid #ccc"></span>
        <div class="column">
            <div class="detail-row">
                <div class="title">Cơ sở đào tạo:</div>
                <div class="value">{{ data.CoSoDaoTao }}</div>
            </div>
            <div class="detail-row">
                <div class="title">Địa điểm đào tạo:</div>
                <div class="value">{{ data.DiaDiemDaoTao }}</div>
            </div>

            <div class="detail-row">
                <div class="title">Cử đi học:</div>
                <div class="value">
                    <input type="checkbox" disabled [checked]="data.CuDiHoc" />
                </div>
            </div>


            <div class="detail-row">
                <div class="title">Điểm</div>
                <div class="value">{{ data.Diem }}</div>
            </div>
            <div class="detail-row">
                <div class="title">Kết quả xếp loại:</div>
                <div class="value">{{ data.KetQuaXepLoai }}</div>
            </div>

            <div class="detail-row">
                <div class="title">Ngày cấp chứng chỉ:</div>
                <div class="value">{{ data.NgayCapChungChi | date : "dd/MM/yyyy" }}</div>
            </div>

            <div class="detail-row">
                <div class="title">Thời gian áp dụng:</div>
                <div class="value">{{ data.TuNgay | date : "dd/MM/yyyy" }} - {{ data.DenNgay | date : "dd/MM/yyyy" }}
                </div>
            </div>


        </div>
    </div>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button (click)="closeModal()">Hủy</button>
    <!-- <button mat-raised-button color="primary" cdkFocusInitial>Lưu</button> -->
</div>