<div class="wrapper">
    <div class="container">
      <div class="header-info">
        <img src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-6/411088957_1772807533163434_2480298243452146189_n.jpg?stp=cp6_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFxlwRp6ZgKDLIFa8kaGyQXQDRIIZaF0r1ANEghloXSvSHREYroAE2nYujYtNwkKWWu4g5vo-AB2-UIx0yKj8y4&_nc_ohc=HPgowVMUQIYQ7kNvgFl4j66&_nc_ht=scontent.fsgn2-8.fna&oh=00_AYBu1w2k5MrOygkl3jftHwL9Wgn-ulvdIJNZMgYIOdyxLg&oe=66A71609" alt="" class="img-avatar" />
        <div class="info" style="text-align: left; margin-left: 20px;">
          <span class="info-name">Nguyễn Văn Tài</span>
          <span class="info-email">TaiNguyenlq.0123@gmail.com</span>
        </div>
      </div>
      <div class="content-info">
        <div class="row">
          <div class="column">
            <mat-icon>wc</mat-icon>
            <span>Giới tính</span>
          </div>
          <div class="column">
            <span>Nam</span>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <mat-icon>calendar_month</mat-icon>
            <span>Ngày sinh</span>
          </div>
          <div class="column">
            <span>14/12/2002</span>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <mat-icon>call</mat-icon>
            <span>Số điện thoại</span>
          </div>
          <div class="column">
            <span>0837396190</span>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <mat-icon>location_on</mat-icon>
            <span>Địa chỉ thường trú</span>
          </div>
          <div class="column">
            <span>D2 KDC Phú Hoà 1, phường Phú Hoà, Thành phố Thủ Dầu Một, tỉnh Bình Dương</span>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <mat-icon>location_on</mat-icon>
            <span>Chỗ ở hiện tại</span>
          </div>
          <div class="column">
            <span>D2 KDC Phú Hoà 1, phường Phú Hoà, Thành phố Thủ Dầu Một, tỉnh Bình Dương</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  