
<mat-toolbar style="background-color: #3092cd;" class="mat-elevation-z8">
    <img style="width: 50px; height: auto; margin-left: 20px;" src="https://png.pngtree.com/png-clipart/20230504/original/pngtree-team-work-line-icon-png-image_9137751.png">
    <span style="margin-left: 20px; color: antiquewhite;">Hệ thống quản lý nhân sự thầu</span>
    <span class="example-spacer"></span>
    <a href="#" mat-raised-button color="accent">Tài Nguyễn</a>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    </mat-drawer>
    <mat-drawer-container>
        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
        </div>

    </mat-drawer-container>
    
</mat-drawer-container>
