<form [formGroup]="empForm" (ngSubmit)="onFromSubmit()">
  <h1 mat-dialog-title>Thêm trình độ học vấn</h1>

  <div mat-dialog-content>

    <mat-form-field class="example-form-field">
      <mat-label>Ngày tạo(Từ ngày)*</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="TuNgay" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Ngày tạo(Đến ngày)*</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="DenNgay" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Trình độ đào tạo</mat-label>
      <select matNativeControl required formControlName="TrinhDoDaoTao">
        <option value="Đại học">Đại học</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Chuyên ngành đào tạo</mat-label>
      <select matNativeControl required formControlName="ChuyenNganhDaoTao">
        <option value="Công nghệ thông tin">Công nghệ thông tin</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ngành đào tạo</mat-label>
      <select matNativeControl required formControlName="NganhDaoTao">
        <option value="Công nghệ thông tin">Công nghệ thông tin</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hình thức đào tạo</mat-label>
      <select matNativeControl required formControlName="HinhThucDaoTao">
        <option value="Chính Quy">Chính quy</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cơ sở đào tạo</mat-label>
      <select matNativeControl required formControlName="CoSoDaoTao">
        <option value="Đại học Thủ Dầu Một">Đại học Thủ Dầu Một</option>
      </select>
    </mat-form-field>
    <div>
      <input type="file" formControlName="fileBase64" (change)="onFileSelect($event)" accept=".pdf"/>
    </div>
    <div>
      <mat-checkbox formControlName="status">Tôi đã đọc và đồng ý các điều khoản khi thêm trình độ học
        vấn</mat-checkbox>
    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary" >Thêm</button>
    <a (click)="closepopup()" mat-raised-button color="warn" [mat-dialog-close]="false" type="button">Trở lại</a>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
  </div>
</form>