
  <form style="width: 100%;" [formGroup]="empForm" (ngSubmit)="onFromSubmit()">

    <h1 mat-dialog-title style="background-color: #3092cd; text-align: center; color: aliceblue;">Cập nhập quá trình công tác</h1>
  
    <div mat-dialog-content>
      <div class="date-range-container">
        <div class="form-row">
          <div class="example-half-width">
            <label>Tên nhân sự</label>
            <mat-form-field>
              <input matInput #message maxlength="250" formControlName="TenNhanVien" placeholder="Nhập tên nhân sự ...">
              <mat-error *ngIf="empForm.get('TenNhanVien')?.hasError('required')">
                Vui lòng nhập tên nhân sự
              </mat-error>
            </mat-form-field>
          </div>
          <div class="example-half-width">
            <label>Chức danh</label>
            <mat-form-field>
              <input matInput #message maxlength="250" formControlName="ChucDanh"
                placeholder="Nhập chức danh nhân sự ...">
              <mat-error *ngIf="empForm.get('TenNhanVien')?.hasError('required')">
                Vui lòng nhập chức danh của nhân sự
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="form-row">
          <div class="example-half-width">
            <label>Đơn vị công tác</label>
            <mat-form-field>
              <input matInput #message maxlength="250" formControlName="DonVi" placeholder="Nhập tên nhân sự ...">
              <mat-error *ngIf="empForm.get('TenNhanVien')?.hasError('required')">
                Vui lòng nhập tên đơn vị công tác
              </mat-error>
            </mat-form-field>
          </div>
          <div class="example-half-width checkbox-group">
            <mat-checkbox class="example-margin" formControlName="TrongNganh">Trong ngành</mat-checkbox>
          </div>
        </div>
  
        <div class="form-row">
          <div style="width: 98%;">
            <label>Mô tả</label>
            <mat-form-field>
              <input matInput #message maxlength="250" formControlName="MoTa" placeholder="Nhập tên nhân viên ...">
              <mat-error *ngIf="empForm.get('MoTa')?.hasError('required')">
                Vui lòng nhập mô tả
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="form-row">
          <div class="example-half-width">
            <label>Khoá đào tạo</label>
            <mat-form-field>
              <mat-select matNativeControl required formControlName="KhoaDaoTao" placeholder="Chọn khoá đào tạo">
                <ngx-mat-select-search [formControl]="searchControlKhoaDaoTao" placeholderLabel="Tìm kiếm"
                  noEntriesFoundLabel="Không có kết quả"></ngx-mat-select-search>
                <mat-option *ngFor="let option of filteredOptionsKhoaDaoTao | async" [value]="option">
                  {{ option }}
                </mat-option>
  
              </mat-select>
              <mat-error *ngIf="empForm.get('KhoaDaoTao')?.hasError('required')">
                Xin vui lòng chọn khoá đào tạo
              </mat-error>
            </mat-form-field>
          </div>
          <div class="example-half-width">
            <label>Đơn vị đào tạo</label>
            <mat-form-field>
              <mat-select matNativeControl required formControlName="DonViDaoTao" placeholder="Chọn đơn vị đào tạo">
                <ngx-mat-select-search [formControl]="searchControlDonViDaoTao" placeholderLabel="Tìm kiếm"
                  noEntriesFoundLabel="Không có kết quả"></ngx-mat-select-search>
                <mat-option *ngFor="let option of fillteredOptionsDonViDaoTao | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="empForm.get('DonViDaoTao')?.hasError('required')">
                Vui lòng chọn đơn vị đào tạo
              </mat-error>
            </mat-form-field>
          </div>
  
        </div>
  
        <div class="form-row">
          <div class="example-half-width">
            <label>Hình thức đào tạo</label>
            <mat-form-field>
              <mat-select matNativeControl required formControlName="HinhThucToChuc" placeholder="Chọn hình thức đào tạo">
                <ngx-mat-select-search [formControl]="seatchControlHinhThucDaoTao" placeholderLabel="Tìm kiếm"
                  noEntriesFoundLabel="Không có kết quả"></ngx-mat-select-search>
                <mat-option *ngFor="let option of fillteredOptionsHinhThucDaoTao | async" [value]="option">
                  {{ option }}
                </mat-option>
  
              </mat-select>
              <mat-error *ngIf="empForm.get('HinhThucToChuc')?.hasError('required')">
                Xin vui lòng chọn hình thức đào tạo
              </mat-error>
            </mat-form-field>
          </div>
          <div class="example-half-width">
            <label>Chi phí đào tạo</label>
            <mat-form-field>
              <input matInput #message maxlength="250" formControlName="ChiPhiDaoTao"
                placeholder="Nhập chi phí đào tạo ...">
              <mat-error *ngIf="empForm.get('ChiPhiDaoTao')?.hasError('required')">
                Vui lòng nhập chi phí đào tạo
              </mat-error>
            </mat-form-field>
          </div>
  
        </div>
  
        <div class="form-row">
          <div class="example-half-width">
            <label>Tranh thái đào tạo</label>
            <mat-form-field>
              <mat-select matNativeControl required formControlName="TrangThai" placeholder="Chọn trạng thái đào tạo">
                <ngx-mat-select-search [formControl]="searchControlTrangThaiDaoTao" placeholderLabel="Tìm kiếm"
                  noEntriesFoundLabel="Không có kết quả"></ngx-mat-select-search>
                <mat-option *ngFor="let option of fillteredOptionsTrangThaiDaoTao | async" [value]="option">
                  {{ option }}
                </mat-option>
  
              </mat-select>
              <mat-error *ngIf="empForm.get('TrangThai')?.hasError('required')">
                Xin vui lòng chọn trạng thái đào tạo
              </mat-error>
            </mat-form-field>
          </div>
          <div class="example-half-width">
            <label>Điểm số</label>
            <mat-form-field>
              <input matInput #message type="number" formControlName="DiemSo" placeholder="Điểm ...">
              <mat-error *ngIf="empForm.get('DiemSo')?.hasError('required')">
                Vui lòng nhập điểm
              </mat-error>
            </mat-form-field>
          </div>
  
        </div>
  
        <div class="form-row">
          <div class="example-half-width">
            <label>Kết quả các môn</label>
            <mat-form-field>
              <mat-select matNativeControl required formControlName="KetQuaCacMon" placeholder="Chọn lĩnh vực chứng chỉ">
                <mat-option value="Xuất sắc">Xuất sắc</mat-option>
                <mat-option value="Giỏi">Giỏi</mat-option>
                <mat-option value="Khá">Khá</mat-option>
                <mat-option value="Trung bình">Trung bình</mat-option>
                <mat-option value="Yếu">Yếu</mat-option>
                <mat-option value="Kém">Kém</mat-option>
              </mat-select>
              <mat-error *ngIf="empForm.get('KetQuaCacMon')?.hasError('required')">
                Xin vui lòng chọn kết quả các môn
              </mat-error>
            </mat-form-field>
          </div>
          <div class="example-half-width">
            <label>Kết quả khoá đào tạo</label>
            <mat-form-field>
              <mat-select matNativeControl required formControlName="KetQuaKhoaDaoTao"
                placeholder="Chọn lĩnh vực chứng chỉ">
                <mat-option value="Xuất sắc">Xuất sắc</mat-option>
                <mat-option value="Giỏi">Giỏi</mat-option>
                <mat-option value="Khá">Khá</mat-option>
                <mat-option value="Trung bình">Trung bình</mat-option>
                <mat-option value="Yếu">Yếu</mat-option>
                <mat-option value="Kém">Kém</mat-option>
              </mat-select>
              <mat-error *ngIf="empForm.get('KetQuaKhoaDaoTao')?.hasError('required')">
                Vui lòng chọn kết quả khoá đào tạo
              </mat-error>
            </mat-form-field>
          </div>
  
        </div>
  
        <div class="form-row">
          <div class="example-form-field">
            <label>Ngày tạo*</label>
            <mat-form-field>
              <mat-label>Từ ngày</mat-label>
              <input matInput [matDatepicker]="startDatePicker" formControlName="TuNgay" />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
              <mat-error *ngIf="empForm.get('TuNgay')?.hasError('required')">
                Vui lòng chọn ngày tạo chứng chỉ
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="example-form-field">
            <label>Ngày tạo (Đến ngày)*</label>
            <mat-form-field>
              <mat-label>Đến ngày</mat-label>
              <input matInput [matDatepicker]="endDatePicker" formControlName="DenNgay"
                [matDatepickerFilter]="endDateFilter" />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
              <mat-error *ngIf="empForm.get('DenNgay')?.hasError('required')">
                Vui lòng chọn ngày hết hạn chứng chỉ
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      
    </div>
  
  
  
    <div mat-dialog-actions>
      <button mat-raised-button type="submit"
        style="background-color: #3092cd; text-align: center; color: aliceblue;">Cập nhập</button>
      <a (click)="closepopup()" mat-raised-button color="#3093cd" [mat-dialog-close]="false" type="button">Trở lại</a>
      <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
    </div>
  </form>