/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* app.component.css */
.active {
    background-color: #1976d2; /* Thay đổi thành màu bạn muốn */
    color: white;
}

